body{
	padding : 10px 30px;
	font-size : 1.5em;
	font-family : "Verdana", Sans-serif;
	background-color : #f79a40;
}
.contents{
	position : relative;
	left : 50%;
	transform : translateX(-50%);
}
.topcontent{
	text-align : center;
	padding-bottom : 30px;
}
.members{
	display : inline-block;
	width : 80vw;
}
.data{
	text-align : center;
	padding-bottom : 5px;
	padding-top : 5px;
}
.image{
	position : relative;
	left : 50%;
	transform : translateX(-50%);
	width : 100%;
}
.box{
	width : 300px;
	color : white;
	background-color : black;
}
@media all and (max-width: 500px){
	.box{
		width : 80%;
	}
}
